<html>
    <head>
        <h1>아이디 찾기</h1>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    </head>
    <body>
        <form action="/Find/ID" method="post">
            <div>
                <label class="form-label">이름 : </label>
                <input class="form-control" type="text" name="name" value="홍길동"/>
            </div>
            <div>
                <label class="form-label">주민번호 : </label>
                <input class="form-control" type="text" name="personalNumber" value="991212-1598153"/>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">아이디 찾기</button>
            </div>
        </form>
    </body>
</html>