<html>
    <head>
        <h1>회원 가입</h1>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    </head>
    <body>
        <form action="/Signup/UserAccount" method="post" >
            <div>
                <label class="form-label">ID : </label>
                <input type="text" class="form-control" name="id" {{#id}}value="{{id}}"{{/id}}/>
            </div>
            <div>
                <label class="form-label">Password : </label>
                <input type="text" class="form-control" name="pw" {{#password}}value="{{password}}"{{/password}}/>
            </div>
            <div>
                <label class="form-label">name : </label>
                <input type="text"  class="form-control" name="name" {{#name}}value="{{name}}"{{/name}}/>
            </div>
                <label class="form-label">E-mail : </label>
                <input type="text" class="form-control" name="email" {{#email}}value="{{email}}"{{/email}}/>
            <div>
                <label class="form-label">Personal Number : </label>
                <input type="text" class="form-control" name="personalNumber" {{#personalNumber}}value="{{personalNumber}}"{{/personalNumber}}/>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">회원 가입</button>
            </div>
        </form>
        {{#popupMessage}}
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                alert("{{popupMessage}}");
            });
        </script>
        {{/popupMessage}}
    </body>
</html>
